<div class="btn_all">

    <div class="login">
        <div class="form">
            <h1 class="title_function size">
                Login
            </h1>
            <div class="Oauth_2">
                <a class="click_btn size2 bi bi-facebook" title="yên tâm đi tui không rip nick facebook của bạn được đâu" href="/auth/facebook"></a>

                <a class="click_btn size2 bi bi-google" title="đọc lại cái trên nhưng thay facebook bằng google á"  href="/auth/google"></a>
            </div>

            <div class="suggest size2">or use your account</div>

                <form action="/login" method="post">
			        <div class="form_sub size2">
				        <input class="import" type="email" name="email" placeholder="Email" required="">
			        </div>

			        <div class="form_sub size2">
				        <input class="import" type="password" name="password" placeholder="Password" required="">
			        </div>
			
			        <button class="btn_button">Login</button>
	            </form>
            </div>
    </div>

    <div class="signup">
        <div class="form">
            <h1 class="title_function size">
                Signup
            </h1>
            <div class="Oauth_2">
                <a class="click_btn size bi bi-facebook" title="yên tâm đi tui không rip nick facebook của bạn được đâu" href="/auth/facebook"></a>

                <a class="click_btn size bi bi-google" title="đọc lại cái trên nhưng thay facebook bằng google á"  href="/auth/google"></a>
            </div>

            <div class="suggest size">or use your email for registration</div>


            <form action="/signup" method="post">
				<div class="form_sub size">
					<input class="import" type="text" name="username" placeholder="User name" required="">
				</div>

				<div class="form_sub size">
					<input class="import" type="email" name="email" placeholder="Email" required="">
				</div>

				<div class="form_sub size">
					<input class="import" type="password" name="password" placeholder="Password" required="">
				</div>

				<button class="btn_button">Sign up</button>
			</form>
        </div>
    </div>



    

        <div class="login_sub">
            <div class="form">
                <div class="title_container tag_login">
                    <h1>Welcome Back</h1>
                </div>
                <div class="title_containe tag_login">
                    To keep connected with us please login with your personal info
                </div>
                <button class="btn_button_login btn_sub tag_login">Login</button>
            </div>
        </div>


        <div class="signup_sub">
            <div class="form">
                <div class="title_container tag_signup">
                    <h1>Hello, Friend</h1>
                </div>
            <div class="title_container tag_signup">
               Enter your personal details and start journey with us
            </div>
            <button class="btn_button_signup btn_sub tag_signup">Sign Up</button>
            </div>
        </div>


</div>




