<form action="/repair" method="post">
<h1>Repair</h1>
<div class="all">
  <div class="col_auto">
    <label for="staticEmail2" class="visually-hidden">Old name</label>
    <input type="text"class="form-control-plaintext" id="staticEmail2" placeholder="OLd name" name='oldname'>
  </div>
  <div class="col_auto">
    <label for="inputPassword2" class="visually-hidden">New name</label>
    <input type="text" class="form-control" id="inputPassword2" placeholder="Name" name='name'>
  </div>
  <div class="col_auto">
    <label  class="visually-hidden">New email</label>
    <input type="text" class="form-control"  placeholder="Email" name='email'>
  </div>
   <div class="col_auto">
    <label  class="visually-hidden">New_address</label>
    <input type="text" class="form-control"  placeholder="Address" name='address'>
  </div>
  <div class="col_auto">
    <button type="submit" class="btn btn-primary mb-3">Confirm identity</button>
  </div>
</div>
</form>