<form action="/signup/account" method="post">
<h1>Sign Up</h1>
<div class="all">
  <div class="col_auto">
    <label for="staticEmail2" class="visually-hidden">Name</label>
    <input type="text" name="name" id="" placeholder='name'>
  </div>
    <div class="col_auto">
    <label for="staticEmail2" class="visually-hidden">Email</label>
    <input type="text"class="form-control-plaintext" id="staticEmail2" placeholder="email" name='email'>
  </div>
  <div class="col_auto">
    <label for="inputPassword2" class="visually-hidden">Password</label>
    <input type="password" class="form-control" id="inputPassword2" placeholder="Password" name='password'>
  </div>
  <div class="col_auto">
    <button type="submit" class="btn btn-primary mb-3">Confirm identity</button>
  </div>
</div>
</form>