<form id='form2' action="/change" method="post">
          <p class='field'>
          <label for='user'>E-MAIL</label>
          <input type='text' id='user' name='email' title='Username' />
          <span id='valida' class='i i-warning'></span>
        </p>
      	  <p class='field'>
          <label for='pass'>NEW-PASSWORD</label>
          <input type='password' id='pass' name='pass' title='Password' />
          <span id='valida' class='i i-close'></span>
        </p>
        <p class='field'>
          <label for='pass'>RENEW-PASSWORD</label>
          <input type='password' id='pass_new' name='new_pass' title='Password' />
          <span id='valida' class='i i-close'></span>
        </p>
        	<input type='submit' id='do_login_ik' value='GET STARTED' title='Get Started' />
      </div>
    </div>
  </div>
</form>