 <form action="/createAccout" method="post">
          <p class='field'>
          <label for='user'>E-MAIL</label>
          <input type='text' id='user' name='username' title='Username' />
          <span id='valida' class='i i-warning'></span>
        </p>
      	  <p class='field'>
          <label for='pass'>PASSWORD</label>
          <input type='password' id='pass' name='password' title='Password' />
          <span id='valida' class='i i-close'></span>
        </p>
        	<input type='submit' id='do_login' value='GET STARTED' title='Get Started' />
      </div>
    </div>
  </div>
      </form>