<h2>Nhập email bạn muốn lấy lại mật khẩu</h2>

<form action="/forgot" method="post">
          <p class='field'>
          <label for='user'>E-MAIL</label>
          <input type='text' name='email' title='Email'/>
          <span id='valida' class='i i-warning'></span>
        </p>
        <input type='submit' id='do_login' value='GET STARTED' title='Get Started' />
</form>


<div>Tài khoản bạn có mật khấu là : {{pass}}</div>
