<form action="/login" method="post">
      <p class='field'>
          <label for='user'>E-MAIL</label>
          <input type='text' name='email' id='email_name' title='Email'/>
          <span id='va' class='i i-warning'></span>
        </p>
      	  
          <label class='checkbox'>
            <input type='checkbox' value='TRUE' title='Keep me Signed in'/> Keep me Signed in
          </label>

        	<input type='submit' id='do_login' value='GET STARTED' title='Get Started' />
</form>
